.App {
  text-align: center;
  display: grid;
  grid-template-columns: min-content auto;
}

.container {
  width: 90%;
}

.divider {      
  margin-top: 35px;
  margin-bottom: 35px;
  margin-inline: 0;
  height: 2px;
  width: 100%;
  background-color: #bcbcbc;
}
